// ==========================================================================
// #Site Nav
// ==========================================================================

.site-nav {
	text-align: center;
	@include media-query(medium) {
	   float: left;
	   text-align: unset;
	}
	&__navigation {
		float: left;
		width: 100%;
		@include media-query(medium) {
			width: auto;
		}
	}
	&__list {
		@include clearfix;
	}

	&__item {

		@include media-query(medium) {
			float: left;
		}
	}

	&__link {
	    transition: ease-in-out .1s;
		display: block;
		padding: 8px 12px;
		text-transform: uppercase;
		font-size: .9em;
		color: #bfbfbf;
		border-top: 2px solid transparent;
		&:hover {
			background-color: rgba(82, 74, 70, 0.58);
			color: white;
			border-color: orange;
		}
		&--active {
			font-size: .9em;
			text-transform: uppercase;
		    padding: 8px 12px;	 
			display: block;
			background-color: rgba(82, 74, 70, 0.58); 
    		border-top: 2px solid orange;
    		color: white;
    		&:hover {
    			color: white;
    		}
		}
	}

}
