// ==========================================================================
// #Excerpt
// ==========================================================================


.excerpt {
	
	&__img-wrap {
		max-height: 170px;
		overflow: hidden;
	}
	&__img {
		background-size: cover;
		background-position: center center;
	    width: 100%;
	    border-radius:9px 9px 0 0;
	}

	&__body {
		padding: 22px;
	}

	&__title {
		color: #2b3636;
	    line-height: 25px;
 		@include transition(all 0.2s ease-in-out);
	    font-weight: bold;
	    font-size: 18px;
	    max-height: 70px;
	    overflow: hidden;
		margin-bottom: 10px;
	}
	&__desc {
		color: #586f6f;
 		margin: 10px 0;
	    font-weight: 200;
	    font-size: 14px;
	    max-height: 65px;
	    overflow: hidden;
	}

	&__author-img {
		@include box(28px);
		border-radius: 50%;
		float: left;
		margin-right: 6px;
	}

	&__author-name {
		float: left;
    	line-height: 33px;
	}

	&__read-m {
		float: right;
		line-height: 2.5em;
	}

	&__footer {
		@include absolute(right 0 bottom 0 left 0);
		padding: 22px;
	}
}

 